@font-face {
    font-family: 'Fraunces', serif;
    src: url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
}

// primary
$darkcyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
// neutral
$verydarkblue: hsl(212, 21%, 14%);
$darkgrayishblue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// *{
//     margin: 0;
//     line-height: calc(1em + 0.5em);
// }


body {
    background-color: $cream;
    width: auto;
    height: auto;
}

.pub__texts__price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
}


.pub {
    @media screen and (min-width: 376px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: stretch;
        justify-content: flex-start;
    }
    @media screen and (max-width: 376px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: stretch;
        justify-content: flex-start;
    }


    &__img {

// MOBILE------------------------------------
        @media screen and (max-width: 376px) {

            
            &__desktop {
                display: none;
            }

            &__mobile {
                display: block;
                width: 345px;
                height: 245px;
                border-radius: 8px 8px 0% 0%;
            }
        }
 // BUREAU-----------------------------
        @media screen and (min-width: 376px) {

           
            &__desktop {
                display: block;
                width: 300px;
                height: 450px;
                border-radius: 8px 0% 0% 8px;
                background-size: cover;
            }

            &__mobile {
                display: none;
            }
        }

    }

    &__texts {

        background-color: $white;
        width: 300px;
        height: 450px;
        border-radius: 0% 8px 8px 0%;

        display: flex;
        flex-direction: column;

        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: $darkgrayishblue;
            text-transform: uppercase;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        &__gaby {
            color: $verydarkblue;
            font-family: 'Fraunces', serif;
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }

        &__explanation {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: $darkgrayishblue;
            margin-left: 20px;
            margin-right: 20px;
        }

        &__price {

            margin-left: 20px;
            margin-right: 20px;

            &__discounted {
                color: $darkcyan;
                font-family: 'Fraunces', serif;
                font-size: 30px;
                font-weight: 700;
            }

            &__original {
                color: $darkgrayishblue;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                text-decoration: line-through;
                cursor: crosshair;

                &:hover {
                    color: darken(red, 10%);
                    transition: color 1s ease;
                }
            }

        }



        &__add-to-cart {
            color: $white;
            background-color: $darkcyan;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: darken($darkcyan, 10%);
                transition: background-color 1s ease;
            }
        }
    }


}






















// @font-face {
//     font-family: 'Fraunces', serif;
//     font-family: 'Montserrat', sans-serif;
//     src: url ('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

// }

// // Very dark blue: hsl(212, 21%, 14%)
// //Dark grayish blue: hsl(228, 12%, 48%)
// //White: hsl(0, 0%, 100%)

// body {
//     background-color: hsl(30, 38%, 92%)
// }

// // Main 
// .pub__img {
//     @media screen and (max-width: 376px) {
//         &__desktop {
//             display: none;
//         }

//         &__mobile {
//             display: block;
//             width: 345px;
//             height: 245px;
//             border-radius: 8px 8px 0% 0%;
//         }
//     }


//     @media screen and (min-width: 376px) {
//         &__desktop {
//             display: block;
//             width: 300px;
//             height: 450px;
//             border-radius: 8px 0% 0% 8px;

//             background-size: cover;
//         }

//         &__mobile {
//             display: none;
//         }
//     }
// }

// .pub {

//     &__img {}

//     &__texts {
//         &__title {
//             font-family: 'Montserrat', sans-serif;
//             font-weight: 500;
//             font-size: 24px;
//             text-transform: uppercase;
//         }

//         &__gaby {
//             color: hsl(158, 36%, 37%);
//             font-family: 'Fraunces', serif;
//             font-size: 28px;
//             font-weight: 700;
//             margin-bottom: 10px;
//         }

//         &__explanation {}


//     }

//     &__price {
//         &__discounted {
//             color: hsl(158, 36%, 37%);
//             font-family: 'Fraunces', serif;
//             font-size: 22px;
//             width: 50%;
//             margin-right: 10px;

//             &:hover {
//                 background-color: darken(hsl(158, 36%, 37%), 10%);
//                 color: white;
//                 transition: background-color 1s ease;
//                 transition: color 1s ease;
//             }
//         }

//         &__original {
//             color: hsl(228, 12%, 48%);
//             font-family: 'Montserrat', sans-serif;
//             font-size: 18px;
//             width: 50%;
//             text-decoration: line-through;

//             &:hover {
//                 color: darken(red, 10%);
//                 transition: color 1s ease;
//             }
//         }

//         &__add-to-cart {
//             color: hsl(0, 0%, 100%);
//             background-color: hsl(158, 36%, 37%);
//             font-family: 'Montserrat', sans-serif;
//             font-size: 16px;
//             font-weight: 700;
//             width: 100%;
//             border-radius: 5%, 5%;
//             padding: 10px 20px;
//             border: none;
//             cursor: pointer;

//             &:hover {
//                 background-color: darken(hsl(158, 36%, 37%), 10%);
//                 transition: background-color 1s ease;
//             }
//         }
//     }


// }






// @media screen and (min-width: 376px) {
//     &__desktop {
//         display: block;

//     }

// }

// @media screen and (max-width: 375px) {
//     .pub__img__mobile {
//         display: none;

//     }

// }

// display: block; // Affiche l'image desktop par défaut

// @media screen and (max-width: 1440px) and (min-width: 376px) {
// display: none; // Cache l'image desktop entre 376px et 1440px
// }

// display: none; // Cache l'image mobile par défaut

// @media screen and (max-width: 1440px) and (min-width: 375px) {
//     display: block; // Affiche l'image mobile entre 375px et 1440px
// }

// @media screen and (max-width: 375px) {
//     display: block; // Affiche l'image mobile en dessous de 375px
// }



//     @media screen and (min-width: 376px) {
//         &_large {
//             display: block;
//             width: 300px;
//             height: 450px;
//             border-radius: 8px 0% 0% 8px;

//             background-size: cover;
//         }

//         &_small {
//             display: none;
//         }
//     }
// }