@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
}
body {
  background-color: hsl(30, 38%, 92%);
  width: auto;
  height: auto;
}

.pub__texts__price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: baseline;
}

@media screen and (min-width: 376px) {
  .pub {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 376px) {
  .pub {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 376px) {
  .pub__img__desktop {
    display: none;
  }
  .pub__img__mobile {
    display: block;
    width: 345px;
    height: 245px;
    border-radius: 8px 8px 0% 0%;
  }
}
@media screen and (min-width: 376px) {
  .pub__img__desktop {
    display: block;
    width: 300px;
    height: 450px;
    border-radius: 8px 0% 0% 8px;
    background-size: cover;
  }
  .pub__img__mobile {
    display: none;
  }
}
.pub__texts {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  height: 450px;
  border-radius: 0% 8px 8px 0%;
  display: flex;
  flex-direction: column;
}
.pub__texts__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.pub__texts__gaby {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.pub__texts__explanation {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-left: 20px;
  margin-right: 20px;
}
.pub__texts__price {
  margin-left: 20px;
  margin-right: 20px;
}
.pub__texts__price__discounted {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
}
.pub__texts__price__original {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: line-through;
  cursor: crosshair;
}
.pub__texts__price__original:hover {
  color: #cc0000;
  transition: color 1s ease;
}
.pub__texts__add-to-cart {
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}
.pub__texts__add-to-cart:hover {
  background-color: #2c5e4b;
  transition: background-color 1s ease;
}/*# sourceMappingURL=style.css.map */